/* stylelint-disable no-invalid-position-at-import-rule */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.inputStyleConfig{
  @apply mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#ffc501];
}

.labelStyleConfig{
  @apply block text-sm font-medium text-gray-700;
}

.buttonSubmitStyleConfig{
  @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#ffc501] hover:bg-[#ffda60] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#ffc501];
}

.headerToggleMenuButtonStyleConfig{
  @apply inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-[#cc9d00] focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}
/* src/styles/custom-scrollbar.css */

/* Estilos da barra de rolagem para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do track (fundo da barra de rolagem) */
}

::-webkit-scrollbar-thumb {
  background-color: #ffc501; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Arredondar os cantos do polegar */
  border: 3px solid #070707; /* Adicionar borda ao polegar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
